{% extends "common/base.side.html" %}

{% block title %}
    首页
{% endblock %}

{% block rcontent %}
<div class="container-fluid">
<div class="row-fluid">
  <div class="span4">
    <table class="table table-bordered">
      <thead>
        <caption><h2>工作量统计</h3></caption>
        <tr class="success">
            <th>统计类型</th>
            <th>数量</th>
        </tr>
      </thead>
      <tbody>
          <tr class="info" style="font-size: 14px;">
            <td>{{ project.tongjitype }}</td>
            <td>{{ project.count }}</td>
          <tr>
          <tr class="warning" style="font-size: 14px;">
            <td>{{ pm.tongjitype }}</td>
            <td>{{ pm.count }}</td>
          <tr>
          <tr class="error" style="font-size: 14px;">
            <td>{{ vm.tongjitype }}</td>
            <td>{{ vm.count }}</td>
          <tr>
          <tr class="success" style="font-size: 14px;">
            <td>{{ cluster.tongjitype }}</td>
            <td>{{ cluster.count }}</td>
          <tr>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <table class="table table-bordered">
      <thead>
        <caption><h2>资源统计</h3></caption>
        <tr class="success">
            <th>统计类型</th>
            <th>数量</th>
        </tr>
      </thead>
      <tbody>
          <tr class="info" style="font-size: 14px;">
            <td>{{ storage.tongjitype }}</td>
            <td>{{ storage.count }}</td>
          <tr>
          <tr class="warning" style="font-size: 14px;">
            <td>{{ cpu.tongjitype }}</td>
            <td>{{ cpu.count }}</td>
          <tr>
          <tr class="error" style="font-size: 14px;">
            <td>{{ mem.tongjitype }}</td>
            <td>{{ mem.count }}</td>
          <tr>
          <tr class="success" style="font-size: 14px;">
            <td>{{ soft.tongjitype }}</td>
            <td>{{ soft.count }}</td>
          <tr>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <table class="table table-bordered">
      <thead>
        <caption><h2>已用资源统计</h3></caption>
        <tr class="success">
            <th>统计类型</th>
            <th>数量</th>
        </tr>
      </thead>
      <tbody>
          <tr class="info" style="font-size: 14px;">
            <td>{{ usedstorage.tongjitype }}</td>
            <td>{{ usedstorage.count }}</td>
          <tr>
          <tr class="warning" style="font-size: 14px;">
            <td>{{ usedcpu.tongjitype }}</td>
            <td>{{ usedcpu.count }}</td>
          <tr>
          <tr class="error" style="font-size: 14px;">
            <td>{{ usedmem.tongjitype }}</td>
            <td>{{ usedmem.count }}</td>
          <tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    <table class="table table-bordered">
      <thead>
        <caption><h2>物理机统计</h3></caption>
        <tr class="success">
            <th>统计类型</th>
            <th>数量</th>
        </tr>
      </thead>
      <tbody>
          <tr class="info" style="font-size: 14px;">
            <td>{{ jqszwlj.tongjitype }}</td>
            <td>{{ jqszwlj.count }}</td>
          <tr>
          <tr class="warning" style="font-size: 14px;">
            <td>{{ djszwlj.tongjitype }}</td>
            <td>{{ djszwlj.count }}</td>
          <tr>
          <tr class="error" style="font-size: 14px;">
            <td>{{ wldj.tongjitype }}</td>
            <td>{{ wldj.count }}</td>
          <tr>
          <tr class="success" style="font-size: 14px;">
            <td>{{ pm.tongjitype }}</td>
            <td>{{ pm.count }}</td>
          <tr>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <table class="table table-bordered">
      <thead>
        <caption><h2>虚拟机统计</h3></caption>
        <tr class="success">
            <th>统计类型</th>
            <th>数量</th>
        </tr>
      </thead>
      <tbody>
          <tr class="info" style="font-size: 14px;">
            <td>{{ linux.tongjitype }}</td>
            <td>{{ linux.count }}</td>
          <tr>
          <tr class="warning" style="font-size: 14px;">
            <td>{{ window.tongjitype }}</td>
            <td>{{ window.count }}</td>
          <tr>
          <tr class="error" style="font-size: 14px;">
            <td>{{ othervm.tongjitype }}</td>
            <td>{{ othervm.count }}</td>
          <tr>
          <tr class="success" style="font-size: 14px;">
            <td>{{ vm.tongjitype }}</td>
            <td>{{ vm.count }}</td>
          <tr>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <table class="table table-bordered">
      <thead>
        <caption><h2>操作系统统计</h3></caption>
        <tr class="success">
            <th>统计类型</th>
            <th>数量</th>
        </tr>
      </thead>
      <tbody>
          <tr class="info" style="font-size: 14px;">
            <td>{{ usedstorage.tongjitype }}</td>
            <td>{{ usedstorage.count }}</td>
          <tr>
          <tr class="warning" style="font-size: 14px;">
            <td>{{ usedcpu.tongjitype }}</td>
            <td>{{ usedcpu.count }}</td>
          <tr>
          <tr class="error" style="font-size: 14px;">
            <td>{{ usedmem.tongjitype }}</td>
            <td>{{ usedmem.count }}</td>
          <tr>
      </tbody>
    </table>
  </div>
</div>
</div>

{% endblock %}
